# paths
Build/Windows/ipch/
Build/Windows/.vs/
Build/Windows/Temp/
Build/Linux/Temp/
Lib/
Bin/
Build64
CMakeFiles


# files
Build/Windows/*.db
Build/Windows/*.opendb
CMakeCache.txt
*.cmake


